.agbddContainer{
  margin: 0 auto;
  width: 75%;
  margin-bottom: 2rem;
  border-radius: 10px;
  max-width: 900px;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  box-shadow: 4px 4px 4px 4px rgb(0, 0, 0, 0.1);
}

h1{
  text-align: center;
  padding-top:2rem;
}

h2{
  text-align: center;
}