html{
  scroll-behavior: smooth;
}

body{
  background-color: #ededed;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}
main{
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

h1{
  margin: 1rem;
  margin-top: 1.5rem;
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
}

.titleSeparator{
  border-color: #919191;
  width: 100%;
}
.headerMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  top: 0;
  position: sticky;
}

.mainHeader{
  display: flex;
  background-color: #bc1749;
  color:white;
  justify-content: space-between;
  border-bottom: solid 1px #e0e0e0;
  align-items: center;
  height: 12vh;
  width: 100%;
}

.headerButtons{
  display: flex;
  justify-content: space-between;
  width: 55vw;
  margin-bottom: 2px;
  margin-right: 10px;
  padding-right: 2rem;
  align-items: center;
}
.buttonDivider{
  border-color: white;
  height: 2rem;
}
.headerLogo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  font-size: 25px;
  font-weight: 600;
  padding-left: 2rem;
  margin-bottom: 2px;
}

.headerLogo > img{
  width: 60px;
  height: 60px;
  padding-right: 0.5rem;
  -webkit-filter: drop-shadow(0.5px 0.5px 1px rgba(0, 0, 0, 0.5))
                  drop-shadow(-0.5px -0.5px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0.5px 0.5px 1px rgba(0, 0, 0, 0.5)) 
          drop-shadow(-0.5px -0.5px 1px rgba(0, 0, 0, 0.5));
}

.footer{
  display:flex;
}

.headerButtonLink{
  color:white;
  text-decoration: none;
  font-weight: 500;
  font-size: large;
  font-family:'Times New Roman', Times, serif
}

.baseFooter{
  display: flex;
  justify-content: space-between;
  background-color: #919191;
  color: black;
  position: relative;
  bottom: 0;
  height: 35vh;
  width: 100%;
  border-top: solid 2px #e0e0e0;
  flex-direction: column;
}

.footerButtons{
  display: flex;
  height: 20vh;
  flex-direction: column;
  margin-bottom: 2px;
  margin-right: 10px;
  padding-right: 2rem;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: flex-end;
}

.footerButtonLink{
  color:white;
  text-decoration: underline;
  font-weight: 500;
  font-size: large;
  font-family:'Times New Roman', Times, serif
}