.subHeaderMenu{
  display: flex;
  background-color: #949494;
  position: sticky;
  color:black;
  justify-content: space-between;
  border-bottom: solid 1px #e0e0e0;
  align-items: center;
  height: 8vh;
  top: 0;
  width: 100%;
}

.subHeaderButtons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2px;
  margin-right: 10px;
  padding-right: 15rem;
  padding-left: 15rem;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.subHeaderButtonLink{
  color:white;
  text-decoration: none;
  font-weight: 500;
  font-size: large;
  font-family:'Times New Roman', Times, serif
}

table {
  font-family: helvetica;
  border-collapse: collapse;
  width: 100%;
}

h2{
  text-align: center;
}

td {
  text-align: left;
  border: 1px solid #000000;
  padding: 8px;
}

th {
  text-align: left;
  border: 1px solid #000000;
  padding: 8px;
  background-color: #aaaaaa;
}

tr:nth-child(odd) {
  background-color: #dddddd;
  color: #000000;
}

.glossaryContainer {
  margin: 3rem;
  width: 75%;
  background-color: white;
  border-radius: 10px;
  padding-right: 2rem;
  padding-left: 2rem;
  box-shadow: 4px 4px 4px 4px rgb(0, 0, 0, 0.1);
}

span{
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}

.generalInfo{
  padding-bottom: 2rem;
}

.statementGroup{
  scroll-margin-top: 10.5rem;
}