table {
  font-family: helvetica;
  border-collapse: collapse;
  width: 100%;
}

h2{
  text-align: center;
}

td {
  text-align: left;
  border: 1px solid #000000;
  padding: 8px;
}

th {
  text-align: left;
  border: 1px solid #000000;
  padding: 8px;
  background-color: #aaaaaa;
}

tr:nth-child(odd) {
  background-color: #dddddd;
  color: #000000;
}

.glossaryContainer {
  margin: 3rem;
  width: 75%;
  border-radius: 10px;
  padding-right: 2rem;
  padding-left: 2rem;
  box-shadow: 4px 4px 4px 4px rgb(0, 0, 0, 0.1);
}

span{
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}

.generalInfo{
  padding-bottom: 2rem;
}