table {
  font-family: helvetica;
  border-collapse: collapse;
  width: 100%;
}

h2, h1{
  text-align: center;
}

td {
  text-align: left;
  border: 1px solid #000000;
  padding: 8px;
}

th {
  text-align: left;
  border: 1px solid #000000;
  padding: 8px;
  background-color: #aaaaaa;
}

tr:nth-child(odd) {
  background-color: #dddddd;
  color: #000000;
}

.glossaryContainer {
  margin: 0 auto;
  width: 70%;
}

span{
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}
