.homeContentContainer{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.introSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #f5f5f5;
  border-width: thin;
  height: 350px;
  width: 100%;
  min-height: max-content;
  background-color: #f5f5f5;
}

.introButton{
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color:black;
}

.sectionTitle{
  font-size: 4rem;
  font-weight: 500;
  margin: 2rem;
  text-align: center;
}

.sectionText{
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  width: 65%;
  fill-opacity: initial;
  text-align: justify;
  flex-direction: column;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.sectionText > span{
  text-align: center;
}

#banner1, #banner2, #banner3, #banner4, #banner5 {
  position: relative;
  z-index: 0;
  border-bottom: solid;
  border-bottom-color: gray;
  border-bottom-width: 2px;
  overflow: hidden; 
}

#banner1::before, #banner2::before, #banner3::before, #banner4::before, #banner5::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  width: 102%; 
  height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1; 
  z-index: -1; 
}

#banner1::before {
  background-image: url(/static/images/banner_background1.svg);
}

#banner2::before {
  background-image: url(/static/images/banner_background2.svg);
}

#banner3::before {
  background-image: url(/static/images/banner_background3.svg);
}

#banner4::before {
  background-image: url(/static/images/banner_background4.svg);
}

#banner5::before {
  background-image: url(/static/images/banner_background5.svg);
}

@media (max-width: 768px) {
  .sectionTitle{
    font-size: 3rem;
  }

  .sectionText{
    font-size: 1.2rem;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .sectionTitle{
    font-size: 2rem;
  }

  .sectionText{
    font-size: 1rem;
    width: 80%;
  }
}