<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/styles/base.css">
    {% block style %}{% endblock %}
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
  <body>

    <section class="headerMenu">
      <section class="headerLogo">
        <img src="{{ url_for('static', filename='images/opus_software_logo.png') }}"> <span>AT4QA Project <br> by OpusSoftware </span>
      </section>
      <section class="headerButtons">
        <a href="{{url_for('homepage')}}" class="headerButtonLink"><b>Home</b></a>
        <a href="{{url_for('agbdd')}}" class="headerButtonLink"><b>AGBDD</b></a>
        <a href="{{url_for('glossary')}}" class="headerButtonLink"><b>Glossary</b></a>
        <a href="{{url_for('test_builder')}}" class="headerButtonLink"><b>Tester</b></a>
        <a href="{{url_for('editor')}}" class="headerButtonLink"><b>Editor</b></a>
        <a href="{{url_for('generator')}}" class="headerButtonLink"><b>Generator</b></a>
        <a href="{{url_for('account')}}" class="headerButtonLink"><b>Account</b></a>
      </section>
    </section>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="baseFooter">
      <hr class="divider">
      <section class="footerButtons">
        <a href="{{url_for('homepage')}}" class="footerButtonLink"><b>Home</b></a>
        <a href="{{url_for('agbdd')}}" class="footerButtonLink"><b>AGBDD</b></a>
        <a href="{{url_for('glossary')}}" class="footerButtonLink"><b>Glossary</b></a>
        <a href="{{url_for('test_builder')}}" class="footerButtonLink"><b>Tester</b></a>
        <a href="{{url_for('editor')}}" class="footerButtonLink"><b>Editor</b></a>
        <a href="{{url_for('generator')}}" class="footerButtonLink"><b>Generator</b></a>
        <a href="{{url_for('account')}}" class="footerButtonLink"><b>Account</b></a>
      </section>
        <p> 2024 AT4QA Project by OpusSoftware</p>
    </footer>
  </body>
</html>