<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/styles/base.css">
    {% block style %}{% endblock %}
    <title>
      {% block title %}{% endblock %}
    </title>
  </head>
  <body>

    <section class="headerMenu">
      <section class="mainHeader">

        <section class="headerLogo">
          <a href="{{url_for('homepage')}}" class="headerLogoLink">
            <img src="{{ url_for('static', filename='images/opus_software_logo.png') }}"> <span>AT4QA Project</span>
          </a>
        </section>
        <section class="headerButtons">
          <a href="{{url_for('homepage')}}" class="headerButtonLink"><b>Home</b></a>
          <hr class="buttonDivider">
          <a href="{{url_for('agbdd')}}" class="headerButtonLink"><b>AGBDD</b></a>
          <hr class="buttonDivider">
          <a href="{{url_for('glossary')}}" class="headerButtonLink"><b>Glossary</b></a>
          <hr class="buttonDivider">
          <a href="{{url_for('test_builder')}}" class="headerButtonLink"><b>Tester</b></a>
          <hr class="buttonDivider">
          <a href="{{url_for('editor')}}" class="headerButtonLink"><b>Editor</b></a>
          <hr class="buttonDivider">
          <a href="{{url_for('generator')}}" class="headerButtonLink"><b>Generator</b></a>
        </section>
      </section>
      {% block header %}
      {% endblock %}
    </section>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="baseFooter">
      <section class="footerButtons">
        <a href="https://www.opus-software.com.br/" class="footerButtonLink"><b>About Us</b></a>
        <a href="https://github.com/Opus-Software/AT4QA" class="footerButtonLink"><b>Repository</b></a>
        <a href="" class="footerButtonLink"><b>AGBDD Dissertation</b></a>
      </section>
      <hr class="footerDivider">
      <section class="footerSpecialThanks">
        <p>Special thanks to IME-USP</p>
        <img class="imeLogo" src="static/images/ime_logo.svg">
      </section>
      {% block footer %}
      {% endblock %}
    </footer>
  </body>
</html>