{% extends 'base.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/styles/generator.css">
<section class="generatorContent">
  
  <h1>Welcome to the Generator!</h1>
  
  <hr class="titleSeparator">
  
  <p>
    Here you can generate the base of a Feature File to get a headstart!
    <br>
    For more information on the construction of Feature Files, visit our <a href="{{url_for('glossary')}}"> glossary </a> page.
    <br>
    To generate your Feature Files, upload your documentation in JSON or YAML format here:
  </p>

  <form id="uploadForm" action="{{url_for('upload_documentation')}}" method="post" enctype="multipart/form-data" class="formElements">
    <input type="file" name="file" id="file" class="uploadFeatureFiles" multiple accept=".yaml,.json" required style="display: none;">
    <button type="button" id="customFileButton" class="customFileButton">Select Files</button>
    <p>
    <div id="fileList"></div>
  </form>

  <form id="runForm" action="{{url_for('generate_feature')}}" method="post" enctype="multipart/form-data" class="formElements">
    <p>
    <button type="submit" class="runFeatureFiles" id="runTestsButton">Generate!</button>
    <input type="hidden" name="file" id="runFile" class="uploadFeatureFiles" multiple accept=".yaml,.json" required style="display: none;">
    <input type="hidden" name="tags" id="runTags" class="inputTags">
  </form>
</section>

<script src="{{ url_for('static', filename='scripts/uploadFile.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/buttonConfig.js') }}"></script>
{% endblock %}