{% extends 'base.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/styles/home.css">
<section class="homeContentContainer">

  <section class="introSection" id="banner1">

    <h2 class="sectionTitle">Welcome to AT4QA Project!</h2>

    <section class="sectionText">
      <section class="sectionTextDescription">
        Here you can learn about the AGBDD development paradigm, create and run test cases, edit your feature files, and generate bases for test cases!
      </section>
    </section>
    
  </section>

  <section class="introSection" id="banner2">

    <a class="introButton" href="{{url_for('agbdd')}}">

      <h2 class="sectionTitle" id="sectionTextWhite">What is AGBDD?</h2>

      <section class="sectionText" id="sectionTextWhite">
        <section class="sectionTextDescription">
          AGBDD is a newly defined development paradigm meant to help QA teams
          idealize and create test cases in a more efficient manner, while boosting
          the development process!
        </section>
        <br>
        <br>
        <span>Click here for more information</span>
      </section>

    </a>

  </section>

  <section class="introSection" id="banner3">

    <a class="introButton" href="{{url_for('test_builder')}}">

      <h2 class="sectionTitle">Run your test cases!</h2>

      <section class="sectionText">
        <section class="sectionTextDescription">
          Here with AT4QA Project, you can upload your feature files and run them
          to see the results!
        </section>
        <br>
        <br>
        <span>Click here to start testing!</span>
      </section>

    </a>

  </section>

  <section class="introSection" id="banner4">

    <a type="button" class="introButton" href="{{url_for('editor')}}">

      <h2 class="sectionTitle" id="sectionTextWhite">Having trouble editing?</h2>

      <section class="sectionText" id="sectionTextWhite">
        <section class="sectionTextDescription">
          AT4QA Project also has a feature file editor to help you edit your test cases
          with ease!
        </section>
        <br>
        <br>
        <span>Click here to start editing!</span>
      </section>

    </a>

  </section>

  <section class="introSection" id="banner5">

    <a class="introButton" href="{{url_for('generator')}}">
      
      <h2 class="sectionTitle">Need a little push to start?</h2>

      <section class="sectionText">
        <section class="sectionTextDescription">
          You can also generate a base feature file to help you get started with your test cases!
          Just upload your documentation in YAML or JSON and we will generate the base structure
          of a feature file for you!
        </section>
        <br>
        <br>
        <span>Click here to learn more!</span>
      </section>
    
    </a>
  
  </section>

</section>
{% endblock %}

{% block footer %}
{% endblock %}