{% extends 'base.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/styles/test_builder.css">
<section class="builderContent" id="builderContent">

  <h1>Welcome to the Test Builder!</h1>
  
  <hr class="titleSeparator">

  <section class="builderInfo">
    <p class="builderExplanation">
      Here you can execute your test cases with your generic feature file!
      <br>
      <br>
      For more information on the construction of feature files, visit our <a href="{{url_for('glossary')}}"> glossary </a> page.
      <br>
      <br>
      To execute the test cases, upload your feature file here:
    </p>
  </section>
    
  <form id="uploadForm" action="{{url_for('upload_file')}}" method="post" enctype="multipart/form-data" class="formElements">
    <input type="file" name="file" id="file" class="uploadFeatureFiles" multiple accept=".feature,.dictionary,.featuremask" required style="display: none;">
    <button type="button" id="customFileButton" class="customFileButton">Select Files</button>
    <p>
    <div id="fileList"></div>
</form>

  <section id="uploadedFilesSection" class="uploadedFilesContainer">
      <strong>Current Feature Files:</strong>
      <br>
      <hr class="consoleSeparator">
      <ul id="uploadedFilesList"></ul>
  </section>
  
  <section class="builderInfo">
    <p class="builderExplanation">
      With your files uploaded, you can now run your tests!
      <br>
      <br>
      You can also insert tags to filter test cases below! If you want
      test cases that all have a combination of tags, separete them with the word 'and'.
      For example, if you want to run all test cases that have both the tags 'success' and
      'test', you should write 'success and test'.
      <br>
      <br>
      Now, if you want to run all test cases that have either the tag 'success' or 'test',
      you should write 'success or test'.
      <br>
      <br>
      If you want to run all the test cases, leave the field empty.
      <br>
      <br>
      Click the 'Run Tests!' button to execute the test cases.
      <br>
      <br>
      It will run all test cases in the 'features' folder, filtered by the tags you provided!
    </p>
  </section>
  
  <form id="runForm" action="{{url_for('run_test')}}" method="post" enctype="multipart/form-data" class="formElements">
    <p>Tags:</p>
    <input type="text" name="tags" id="tags" class="inputTags">
    <section class="testButtons">
      <button type="submit" class="runFeatureFiles" id="runTestsButton">Run Tests!</button>
      <button type="button" id="stopTestsButton" class="stopFeatureFiles" style="display: none;">Stop Tests</button>
    </section>
    <input type="hidden" name="file" id="runFile" class="uploadFeatureFiles" multiple accept=".feature,.dictionary,.featuremask" required style="display: none;">
    <input type="hidden" name="tags" id="runTags" class="inputTags">
  </form>

  <hr id="consoleSeparator">

  <section class="builderInfo">
    
      <section id="consoleOutput" class="consoleOuputContainer" style="display: none;">

          <strong>Console Output:</strong>

          <br>

          <hr class="consoleSeparator">
          <pre id="outputText"></pre>

      </section>

      <br>
      
      <section id="reportLinks" style="display: none;">

        <strong>Tests Finished! <br> Here are the reports:</strong>

        <p>

        <a class="reportHTMLButton" href="{{ url_for('static', filename='reports/report.html') }}" download>Download Report (HTML)</a>
        <br>
        <a class="reportJSONButton" href="{{ url_for('static', filename='reports/report.json') }}" download>Download Report (JSON)</a>

      </section>
  </section>

</section>

<script src="{{ url_for('static', filename='scripts/uploadFile.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/runTests.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/buttonConfig.js') }}"></script>

{% endblock %}