{% extends 'base.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/styles/test_builder.css">
<section class="builderContent">
  <h1>Test Builder</h1>
  
  <hr class="titleSeparator">
  <p>
    Here you can execute your test cases with your generic feature file!
    <br>
    For more information on the construction of feature files, visit our <a href="{{url_for('glossary')}}"> glossary </a> page.
    <br>
    To execute the test cases, upload your feature file here:
  </p>

  <form id="uploadForm" action="{{url_for('upload_test')}}" method="post" enctype="multipart/form-data" class="formElements">
    <!-- Hidden file input -->
    <input type="file" name="file" id="file" class="uploadFeatureFiles" multiple accept=".feature,.dictionary,.featuremask" required style="display: none;">
    
    <!-- Custom button to trigger file input -->
    <button type="button" id="customFileButton" class="customFileButton">Select Files</button>
    
    <p>
    <div id="fileList"></div>
    <p>
    Tags:
    <br>
    <input type="text" name="tags" id="tags" class="inputTags">
    <p>
    <button type="submit" class="runFeatureFiles">Run tests!</button>
</form>
</section>

<script src="{{ url_for('static', filename='scripts/uploadFeature.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/buttonConfig.js') }}"></script>

{% endblock %}