{% extends 'base.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/styles/translator.css">
<section class="translatorContent" id="translatorContent">

  <h1>Welcome to the Translator!</h1>
  
  <hr class="titleSeparator">

  <section class="translatorInfo">

    <p>
      Here you can translate your masks to feature files, using dictionaries!
      <br>
      For more information on the construction of feature files, visit our <a href="{{url_for('glossary')}}"> glossary </a> page.
      <br>
      To translate your mask, upload your mask and dictionary here:
    </p>
  </section>
    
  <form id="uploadForm" action="{{url_for('upload_file')}}" method="post" enctype="multipart/form-data" class="formElements">
    <input type="file" name="file" id="file" class="uploadFeatureFiles" multiple accept=".yaml,.json" required style="display: none;">
    <button type="button" id="customFileButton" class="customFileButton">Select Files</button>
    <p>
    <div id="fileList"></div>
</form>

  <section id="uploadedFilesSection" class="uploadedFilesContainer">
      <strong>Current Masks:</strong>
      <br>
      <hr class="separator">
      <ul id="uploadedFilesList-mask" class="uploadedFilesList"></ul>
  </section>

  <section id="uploadedFilesSection" class="uploadedFilesContainer">
    <strong>Current Dictionaries:</strong>
    <br>
    <hr class="separator">
    <ul id="uploadedFilesList-dictionary" class="uploadedFilesList"></ul>
  </section>
  
  <section class="translatorInfo">
    <br>
    With your files uploaded, you can now run your translate your masks!
    <br>
    Insert the specific masks that you want translated.
    <br>
    (If you want to select all files, leave the field empty.)
    <br>
    Then click the 'Translate!' button to translate your masks!
    <br>
    It will download the translated feature files to your browser's default download folder!
    <br>
  </section>
  
  <form id="runForm" action="{{url_for('translate_feature')}}" method="post" enctype="multipart/form-data" class="formElements">
      <section class="translateButtonContainer">
        <button type="submit" class="translateFeatureFiles" id="translateTestsButton">Translate!</button>
      </section>
    <input type="hidden" name="file" id="runFile" class="uploadFeatureFiles" multiple accept=".dict,.mask" required style="display: none;">
    <input type="hidden" name="selectedFile" id="runTags" class="inputTags">
    <input type="hidden" name="endpointList" id="runTags" class="inputTags">
  </form>

  <hr class="separator">

  <section class="builderInfo">

      <section id="downloadLink" style="display: none;">
        <section class="saveButtonsContainer">
          <button id="saveButton" class="saveButton">Save Changes</button>
          <button id="saveAsButton" class="saveButton">Save As...</button>
        </section>
      </section>
  </section>

</section>

<script src="{{ url_for('static', filename='scripts/uploadFile.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/translateTests.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/buttonConfig.js') }}"></script>

{% endblock %}